html {
    
    font-size: 100%;
}

body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
}

.navbar {
    height: 100%;
    width: 25%;
    background-color: silver;
    font-color: gray;
    padding: 2rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

h3 {
	color: gray;
}

.new-room-button {
    border: 1px solid black;
    padding: 1rem;
    margin-left: 150px;
    position: fixed;
    left: 100px;
    top: 50px;
    cursor: pointer;

}

.room-nav {
    background-color: lightgray;
    position: fixed;
    width: 15%;
    top: 0px;
    left: 0px;
    height: 100%;
}

.modal-box {
    position: fixed;
    margin-left: 32%;
    border: 1px solid black;
    background-color: silver;
}

.btn-new {
    cursor: pointer;
}

.btn-cancel {
    cursor: pointer;
}

.room-name:hover {
    cursor: pointer;
}

